sppas/sppas/etc/xml/XRAv1.3.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            XRA Annotation Format
            Version 1.3
            February 2017
            Original schema by Brigitte Bigi, Laboratoire Parole et Langage, Aix-en-Provence, France
            Contact: contact@sppas.org
            License: Public (GPL v3.0)
        </xsd:documentation>
    </xsd:annotation>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--                        Generic definitions.                         -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <xsd:simpleType name="stringType">
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="decType">
      <xsd:restriction base="xsd:decimal">
        <xsd:minInclusive value="0.0"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="digitType">
      <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="14"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringSort">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="min" />
        <xsd:enumeration value="max" />
      </xsd:restriction>
    </xsd:simpleType>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--                        THE MAIN XRA DOCUMENT.                       -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!--
        Document
-->

    <xsd:element name="Document">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Metadata"    type="metadataType"   minOccurs="0" maxOccurs="1"/>
                <xsd:element name="Media"       type="mediaType"      minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="Tier"        type="tierType"       minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="Hierarchy"   type="hierarchyType"  minOccurs="0" maxOccurs="1"/>
                <xsd:element name="Vocabulary"  type="vocabType"      minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="date"          type="xsd:date"     use="required"/>
            <xsd:attribute name="author"        type="stringType"   use="required"/>
            <xsd:attribute name="name"          type="stringType"   use="optional"/>
            <xsd:attribute name="version"       type="stringType"   use="optional"/>
            <xsd:attribute name="format"        type="stringType"   use="optional" default="1.3"/>
        </xsd:complexType>
    </xsd:element>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        THE METADATA: There should be exactly one METADATA element.  -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!--
        Metadata
-->
    <xsd:complexType name="metadataType">
      <xsd:sequence>
        <xsd:element name="Entry" type="metaEntryType" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="metaEntryType">
        <xsd:simpleContent>
            <xsd:extension base="stringType">
                <xsd:attribute name="key" type="stringType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--    The media list: There is no limit on the media number or type.   -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!--
        Mediadata
-->
    <xsd:complexType name="mediaType">
      <xsd:sequence>
         <xsd:element name="Metadata" type="metadataType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Tier"     type="idTierType"   minOccurs="0" maxOccurs="unbounded" />
         <xsd:element name="Content"  type="stringType"   minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
      <xsd:attribute name="id"        type="xsd:ID"     use="required"/>
      <xsd:attribute name="url"       type="xsd:anyURI" use="required"/>
      <xsd:attribute name="mimetype"  type="stringType" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="mediaEntryType">
      <xsd:sequence>
      </xsd:sequence>

    </xsd:complexType>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        THE TIERS: There is no limit on their number or rank.        -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!--
        Tier
-->
    <xsd:complexType name="tierType">
        <xsd:sequence>
          <xsd:element name="Metadata"   type="metadataType"   minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Annotation" type="annotationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id"       type="xsd:ID"     use="required"/>
        <xsd:attribute name="tiername" type="stringType" use="optional"/>
    </xsd:complexType>


<!--
        Annotation
-->
    <xsd:complexType name="annotationType">
        <xsd:sequence>
            <xsd:element name="Metadata" type="metadataType"       minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Location" type="annotationLocation" minOccurs="1" maxOccurs="1" />
            <xsd:element name="Label"    type="annotationLabel"    minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>


<!--
        Location representation
-->

    <xsd:complexType name="annotationLocation">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="Point"    type="pointType"    minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="Interval" type="intervalType" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="Disjoint" type="disjointType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="scoremode" type="stringSort" use="optional" default="max" />
    </xsd:complexType>

    <xsd:complexType name="pointType">
        <xsd:attribute name="midpoint" use="required"/>
        <xsd:attribute name="radius"   use="optional"/>
        <xsd:attribute name="score" type="xsd:double" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="intervalType">
        <xsd:all>
            <xsd:element name="Begin" type="pointType" minOccurs="1" maxOccurs="1" />
            <xsd:element name="End"   type="pointType" minOccurs="1" maxOccurs="1" />
        </xsd:all>
        <xsd:attribute name="score" type="xsd:double" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="disjointType">
        <xsd:sequence>
            <xsd:element name="Interval" type="intervalType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="score" type="xsd:double" use="optional"/>
    </xsd:complexType>


<!--
        Label representation
-->

    <xsd:complexType name="annotationLabel">
        <xsd:sequence>
            <xsd:element name="Tag" type="annotationTag" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="scoremode" type="stringSort" use="optional" default="max" />
    </xsd:complexType>

    <xsd:complexType name="annotationTag">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="score" type="xsd:double" use="optional"/>
                <xsd:attribute name="type" type="annotationTagType" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="annotationTagType">
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="float|int|bool|str"/>
      </xsd:restriction>
    </xsd:simpleType>




<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        THE HIERARCHY: links between tiers                       -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


    <xsd:complexType name="hierarchyType">
        <xsd:sequence>
            <xsd:element name="Link" type="linkType"  minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="linkType">
        <xsd:attribute name="type"   type="stringTierRelation" />
        <xsd:attribute name="from"   type="xsd:IDREF" use="required" />
        <xsd:attribute name="to"     type="xsd:IDREF" use="required" />
    </xsd:complexType>

    <xsd:simpleType name="stringTierRelation">
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="TimeAlignment|TimeAssociation"/>
      </xsd:restriction>
    </xsd:simpleType>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        CONTROLLED VOCABULARIES                                  -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


<!--
        Vocabulary.
-->
    <xsd:complexType name="vocabType">
        <xsd:sequence>
            <xsd:element name="Entry" type="vocabEntryType" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="Tier"  type="idTierType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="id"          type="xsd:IDREF"  use="required" />
        <xsd:attribute name="description" type="stringType" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="vocabEntryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="annotationTagType" use="optional"/>
        		<xsd:attribute name="description" type="stringType" use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <xsd:complexType name="idTierType">
        <xsd:attribute name="id" type="xsd:IDREF" use="required" />
    </xsd:complexType>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

 </xsd:schema>

