sppas/sppas/etc/xml/XRAv1.1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            XRA Annotation Format
            Version 1.1
            October 2014
            Original Schema by Brigitte Bigi, Laboratoire Parole et Langage, Aix-en-Provence, France
            Contact: contact@sppas.org
            License: Public (GPL v3.0)
        </xsd:documentation>
    </xsd:annotation>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--                        Generic definitions.                         -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <xsd:simpleType name="stringType">
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="decType">
      <xsd:restriction base="xsd:decimal">
        <xsd:minInclusive value="0.0"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="digitType">
      <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="14"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stringSort">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="min" />
        <xsd:enumeration value="max" />
      </xsd:restriction>
    </xsd:simpleType>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--                        THE MAIN XRA DOCUMENT.                       -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!--
        Document
-->

    <xsd:element name="Document">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Metadata"    type="metadataType"   minOccurs="0" maxOccurs="1"/>
                <xsd:element name="Tier"        type="tierType"       minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="Hierarchy"   type="hierarchyType"  minOccurs="0" maxOccurs="1"/>
                <xsd:element name="Vocabulary"  type="vocabType"      minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="Date"          type="xsd:date"     use="required"/>
            <xsd:attribute name="Author"        type="stringType"   use="required"/>
            <xsd:attribute name="Version"       type="stringType"   use="optional"/>
            <xsd:attribute name="Format"        type="stringType"   use="optional" default="1.1"/>
        </xsd:complexType>
    </xsd:element>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        THE METADATA: There should be exactly one METADATA element.  -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!--
        Metadata
-->
    <xsd:complexType name="metadataType">
      <xsd:sequence>
        <xsd:element name="Entry" type="metaEntryType" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="metaEntryType">
        <xsd:simpleContent>
            <xsd:extension base="stringType">
                <xsd:attribute name="Key" type="stringType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        THE TIERS: There is no limit on their number or rank.        -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!--
        Tier: the name is used as ID in Transcription(), but the scheme
        requires an ID to enable SubDivisions.
-->
    <xsd:complexType name="tierType">
        <xsd:sequence>
          <xsd:element name="Metadata" type="metadataType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="Media" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:attribute name="URL"         type="xsd:anyURI" use="required"/>
              <xsd:attribute name="relativeUrl" type="xsd:anyURI" use="optional"/>
              <xsd:attribute name="MimeType"    type="stringType" use="required"/>
              <xsd:attribute name="TimeOrigin"  type="xsd:long"   use="optional"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Annotation" type="annotationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="ID"          type="xsd:ID"     use="required"/>
        <xsd:attribute name="tiername"    type="stringType" use="required"/>
    </xsd:complexType>


<!--
        Annotation
-->
    <xsd:complexType name="annotationType">
        <xsd:sequence>
            <xsd:element name="Location"  type="annotationLocation"  minOccurs="1" maxOccurs="1" />
            <xsd:element name="Label" type="annotationLabel" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>


<!--
        Time representation
-->
    <xsd:complexType name="annotationLocation">
        <xsd:sequence>
            <xsd:element name="Localization" type="annotationLocalization" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="scoremode" type="stringSort" use="optional" default="max" />
    </xsd:complexType>

    <xsd:complexType name="annotationLocalization">
        <xsd:choice>
            <xsd:element name="TimePoint"    type="timePoint"   />
            <xsd:element name="TimeInterval" type="timeInterval"/>
            <xsd:element name="TimeDisjoint" type="timeDisjoint"/>
            <xsd:element name="FramePoint"    type="timeFramePoint"   />
            <xsd:element name="FrameInterval" type="timeFrameInterval"/>
            <xsd:element name="FrameDisjoint" type="timeFrameDisjoint"/>
        </xsd:choice>
        <xsd:attribute name="score" type="xsd:double" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="timePoint">
        <xsd:attribute name="midpoint" type="decType" use="required"/>
        <xsd:attribute name="radius"   type="decType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="timeInterval">
        <xsd:all>
            <xsd:element name="Begin" type="timePoint" minOccurs="1" maxOccurs="1" />
            <xsd:element name="End"   type="timePoint" minOccurs="1" maxOccurs="1" />
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="timeDisjoint">
        <xsd:sequence>
            <xsd:element name="Interval" type="timeInterval" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="timeFramePoint">
        <xsd:attribute name="midpoint" type="decType" use="required"/>
        <xsd:attribute name="radius"   type="decType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="timeFrameInterval">
        <xsd:all>
            <xsd:element name="Begin" type="timeFramePoint" minOccurs="1" maxOccurs="1" />
            <xsd:element name="End"   type="timeFramePoint" minOccurs="1" maxOccurs="1" />
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="timeFrameDisjoint">
        <xsd:sequence>
            <xsd:element name="Interval" type="timeFrameInterval" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

<!--
        Label representation
-->
    <xsd:complexType name="annotationLabel">
        <xsd:sequence>
            <xsd:element name="Text" type="annotationText" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="scoremode" type="stringSort"      use="optional" default="max" />
    </xsd:complexType>

    <xsd:complexType name="annotationText">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="score" type="xsd:double" use="required"/>
                <xsd:attribute name="type" type="annotationTextType" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="annotationTextType">
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="float|int|bool|str"/>
      </xsd:restriction>
    </xsd:simpleType>




<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        THE HIERARCHY: links between tiers                       -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


    <xsd:complexType name="hierarchyType">
        <xsd:sequence>
            <xsd:element name="Link" type="linkType"  minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="linkType">
        <xsd:attribute name="Type"      type="stringTierRelation" />
        <xsd:attribute name="From"   type="xsd:IDREF" use="required" />
        <xsd:attribute name="To"   type="xsd:IDREF" use="required" />
    </xsd:complexType>

    <xsd:simpleType name="stringTierRelation">
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="TimeAlignment|TimeAssociation"/>
      </xsd:restriction>
    </xsd:simpleType>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!--                                                                     -->
<!--        CONTROLLED VOCABULARIES                                  -->
<!--                                                                     -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


<!--
        Vocabulary.
-->
    <xsd:complexType name="vocabType">
        <xsd:sequence>
            <xsd:element name="Entry" type="stringType" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="Tier" type="vocabTierType" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="ID"   type="xsd:IDREF" use="required" />
        <xsd:attribute name="description"   type="stringType" use="required" />
    </xsd:complexType>

    <xsd:complexType name="vocabTierType">
        <xsd:attribute name="ID"   type="xsd:IDREF" use="required" />
    </xsd:complexType>

 </xsd:schema>

