sppas/sppas/etc/aio/EAFv2.7.xsd

<?xml version="1.0"?>
<!--
	VERSION 2.7
	DATE December 2010
	- new elements and attributes where added in relation to
	  - support for externally defined controlled vocabularies. A new possible root element CV_RESOURCE 
	    has been added for such vocabularies in an eaf like xml file. Annotations can hold a reference
	    to the id of ean entry in an external CV.
	- a new element for storing information about a lexicon and about a link to an entry or a field 
	  in a lexicon has been added. A linguistic type can be associated with a lexicon or a field / 
	  data category in a lexicon
	
	
	VERSION 2.6
	DATE May 2008
	- added elements and attributes for references to concepts defined in the ISO Data Category Registry 
	and possibly/eventually other external resources.
	  - attribute EXT_REF added to type annotationAttribute, to elements CV_ENTRY and LINGUISTIC_TYPE
	  - element EXTERNAL_REF with attributes EXT_REF_ID, TYPE and VALUE
	
	DATE November 2007
	- added optional attributes: RELATIVE_MEDIA_URL to MEDIA_DESCRIPTOR and RELATIVE_LINK_URL to 
	LINKED_FILE_DESCRIPTOR for storage of relative url's
	- changed the FORMAT from fixed to default, and from 2.4. to 2.5
	
	DATE December 2006
	- added attribute: ANNOTATOR to element TIER
	- added element: PROPERTY to element HEADER
	- changed the type of attribute SVG_REF of ALIGNABLE_ANNOTATION to xsd:string since 
	it does not refer to an ID in the same file
	- changed the type of the TIME_ALIGNABLE and GRAPHIC_REFERENCES attributes of the LINGUISTIC_TYPE
	element to type="xsd:boolean" (was xsd:string)
	- changed the ID/IDREF mechanism for the combinations of:
	  - TIER/TIER_ID and TIER/PARENT_REF
	  - LINGUISTIC_TYPE/LINGUISTIC_TYPE_ID and TIER/LINGUISTIC_TYPE_REF
	  - CONTROLLED_VOCABULARY/CV_ID and LINGUISTIC_TYPE/CONTROLLED_VOCABULARY_REF
	  into pairs of xsd:key and xsd:keyref elements.
	  The advantage is that the ID's only have to be unique per element type (e.g. TIER_ID's
	  should be unique within the TIER elements but can be the same as a LINGUISTIC_TYPE_ID) 
	  and that there are no constraints on characters that can be used in id's/names.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Elan Annotation Format
			version 2.7
			December 2010
			Schema by Alexander Klassmann 17/01/03
			Adapted by Hennie Brugman, Han Sloetjes, Micha Hulsbosch
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="ANNOTATION_DOCUMENT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="HEADER" type="headType"/>
				<xsd:element name="TIME_ORDER" type="timeType"/>
				<xsd:element name="TIER" type="tierType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="LINGUISTIC_TYPE" type="lingType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="LOCALE" type="localeType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="CONSTRAINT" type="constraintType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="CONTROLLED_VOCABULARY" type="convocType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="LEXICON_REF" type="lexRefType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="EXTERNAL_REF" type="extRefType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="DATE" type="xsd:dateTime" use="required"/>
			<xsd:attribute name="AUTHOR" type="xsd:string" use="required"/>
			<xsd:attribute name="VERSION" type="xsd:string" use="required"/>
			<xsd:attribute name="FORMAT" type="xsd:string" use="optional" default="2.7"/>
		</xsd:complexType>
		
		<!-- define key - keyref pairs -->
		<xsd:key name="tierNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					The Tier name/id should be unique within the collection 
					of Tier elements
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="TIER"/>
			<xsd:field xpath="@TIER_ID"/>
		</xsd:key>
		<xsd:keyref name="tierNameRef" refer="tierNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					A Tier can be associated with a parent Tier by referring to an existing Tier id.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="TIER"/>
			<xsd:field xpath="@PARENT_REF"/>
		</xsd:keyref>
		
		<xsd:key name="linTypeNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					The Linguistic Type name/id should be unique within the collection 
					of Linguistic Type elements
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="LINGUISTIC_TYPE"/>
			<xsd:field xpath="@LINGUISTIC_TYPE_ID"/>
		</xsd:key>
		<xsd:keyref name="linTypeNameRef" refer="linTypeNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					A Tier must refer to an existing Linguistic Type id.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="TIER"/>
			<xsd:field xpath="@LINGUISTIC_TYPE_REF"/>
		</xsd:keyref>
		
		<xsd:key name="cvNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					The Controlled Vocabulary name/id should be unique within the  
					collection of Controlled Vocabulary elements
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="CONTROLLED_VOCABULARY"/>
			<xsd:field xpath="@CV_ID"/>
		</xsd:key>
		<xsd:keyref name="cvNameRef" refer="cvNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					A Linguistic Type can be associated with a Controlled Vocabulary by 
					referring to an existing Controlled Vocabulary id.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="LINGUISTIC_TYPE"/>
			<xsd:field xpath="@CONTROLLED_VOCABULARY_REF"/>
		</xsd:keyref>
		<xsd:key name="lexNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					The Lexicon Service name/id should be unique within the  
					collection of Lexicon Service elements
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="LEXICON_REF"/>
			<xsd:field xpath="@LEX_REF_ID"/>
		</xsd:key>
		<xsd:keyref name="lexNameRef" refer="lexNameKey">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					A Linguistic Type can be associated with a Lexicon Service by 
					referring to an existing Lexicon Service id.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="LINGUISTIC_TYPE"/>
			<xsd:field xpath="@LEXICON_REF"/>
		</xsd:keyref>
	</xsd:element>
	
	<xsd:complexType name="headType">
		<xsd:sequence>
			<xsd:element name="MEDIA_DESCRIPTOR" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="MEDIA_URL" type="xsd:anyURI" use="required"/>
					<xsd:attribute name="RELATIVE_MEDIA_URL" type="xsd:anyURI" use="optional"/>
					<xsd:attribute name="MIME_TYPE" type="xsd:string" use="required"/>
					<xsd:attribute name="TIME_ORIGIN" type="xsd:long" use="optional"/>
					<xsd:attribute name="EXTRACTED_FROM" type="xsd:anyURI" use="optional"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LINKED_FILE_DESCRIPTOR" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="LINK_URL" type="xsd:anyURI" use="required"/>
					<xsd:attribute name="RELATIVE_LINK_URL" type="xsd:anyURI" use="optional"/>
					<xsd:attribute name="MIME_TYPE" type="xsd:string" use="required"/>
					<xsd:attribute name="TIME_ORIGIN" type="xsd:long" use="optional"/>
					<xsd:attribute name="ASSOCIATED_WITH" type="xsd:anyURI" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		    <xsd:element name="PROPERTY" type="propType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="MEDIA_FILE" use="optional" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					This attribute is deprecated. Use MEDIA_DESCRIPTOR elements instead. 
				</xsd:documentation>
				<xsd:appinfo>Ignore</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TIME_UNITS" use="optional" default="milliseconds">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="NTSC-frames"/>
					<xsd:enumeration value="PAL-frames"/>
					<xsd:enumeration value="milliseconds"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="timeType">
		<xsd:sequence>
			<xsd:element name="TIME_SLOT" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="TIME_SLOT_ID" type="xsd:ID" use="required"/>
					<xsd:attribute name="TIME_VALUE" type="xsd:unsignedInt" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="tierType">
		<xsd:sequence>
			<xsd:element name="ANNOTATION" type="annotationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="TIER_ID" type="xsd:string" use="required"/>
		<xsd:attribute name="PARTICIPANT" type="xsd:string" use="optional"/>
		<xsd:attribute name="ANNOTATOR" type="xsd:string" use="optional"/>
		<xsd:attribute name="LINGUISTIC_TYPE_REF" type="xsd:string" use="required"/>
		<xsd:attribute name="DEFAULT_LOCALE" type="xsd:IDREF" use="optional"/>
		<xsd:attribute name="PARENT_REF" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="annotationType">
		<xsd:choice>
			<xsd:element name="ALIGNABLE_ANNOTATION" type="alignableType"/>
			<xsd:element name="REF_ANNOTATION" type="refAnnoType"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:complexType name="alignableType">
		<xsd:sequence>
			<xsd:element name="ANNOTATION_VALUE" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="annotationAttribute"/>
		<xsd:attribute name="TIME_SLOT_REF1" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="TIME_SLOT_REF2" type="xsd:IDREF" use="required"/>
		<xsd:attribute name="SVG_REF" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="refAnnoType">
		<xsd:sequence>
			<xsd:element name="ANNOTATION_VALUE" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="annotationAttribute"/>
		<xsd:attribute name="ANNOTATION_REF" type="xsd:IDREF" use="required">
			<xsd:annotation>
				<xsd:documentation>
					This is in fact a reference to the parent annotation.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="PREVIOUS_ANNOTATION" type="xsd:IDREF" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="lingType">
		<xsd:attribute name="LINGUISTIC_TYPE_ID" type="xsd:string" use="required"/>
		<xsd:attribute name="TIME_ALIGNABLE" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="CONSTRAINTS" type="xsd:IDREF" use="optional"/>
		<xsd:attribute name="GRAPHIC_REFERENCES" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="CONTROLLED_VOCABULARY_REF" type="xsd:string" use="optional"/>
		<xsd:attribute name="EXT_REF" type="xsd:IDREF" use="optional"/>
		<xsd:attribute name="LEXICON_REF" type="xsd:IDREF" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="localeType">
		<xsd:attribute name="LANGUAGE_CODE" type="xsd:ID" use="required"/>
		<xsd:attribute name="COUNTRY_CODE" type="xsd:string" use="optional"/>
		<xsd:attribute name="VARIANT" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="constraintType">
		<xsd:attribute name="STEREOTYPE" type="xsd:ID" use="required"/>
		<xsd:attribute name="DESCRIPTION" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:complexType name="convocType">
		<xsd:sequence>
			<xsd:element name="CV_ENTRY" type="cventryType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="CV_ID" type="xsd:string" use="required"/>
		<xsd:attribute name="DESCRIPTION" type="xsd:string" use="optional"/>
		<xsd:attribute name="EXT_REF" type="xsd:IDREF" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					A reference to an url of an external Controlled Vocabulary.
					Is intended to be mutually exclusive with a sequence of CV_ENTRY elements. 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="cventryType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="DESCRIPTION" type="xsd:string" use="optional"/>
				<xsd:attribute name="EXT_REF" type="xsd:IDREF" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="propType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="NAME" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="extRefType">
		<xsd:attribute name="EXT_REF_ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="TYPE" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="iso12620">
						<xsd:annotation>
							<xsd:documentation>
								A reference to the id of an ISO Data Category (url including id).
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="ecv">
						<xsd:annotation>
							<xsd:documentation>
								A reference to an external (closed) Controlled Vocabulary (url).
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="cve_id">
						<xsd:annotation>
							<xsd:documentation>
								A reference to the id of an Entry in an external Controlled Vocabulary (id).
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="lexen_id">
						<xsd:annotation>
							<xsd:documentation>
								A reference to the id of an entry in a lexicon (url, url+id or id)
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="resource_url">
						<xsd:annotation>
							<xsd:documentation>
								A reference or hyperlink to any type document (url)
							</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<!-- other external reference types can be added later -->
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="VALUE" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="lexRefType">
		<xsd:attribute name="LEX_REF_ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="NAME" type="xsd:string" use="required"/>
		<xsd:attribute name="TYPE" type="xsd:string" use="required"/>
		<xsd:attribute name="URL" type="xsd:string" use="required"/>
		<xsd:attribute name="LEXICON_ID" type="xsd:string" use="required"/>
		<xsd:attribute name="LEXICON_NAME" type="xsd:string" use="required"/>
		<xsd:attribute name="DATCAT_ID" type="xsd:string" use="optional"/>
		<xsd:attribute name="DATCAT_NAME" type="xsd:string" use="optional"/>
	</xsd:complexType>
	
	<xsd:attributeGroup name="annotationAttribute">
		<xsd:attribute name="ANNOTATION_ID" type="xsd:ID" use="required"/>
		<xsd:attribute name="EXT_REF" type="xsd:IDREFS" use="optional"/>
	</xsd:attributeGroup>
	
	<!-- Start of CV_RESOURCE part, an alternative root element -->
	<xsd:element name="CV_RESOURCE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CONTROLLED_VOCABULARY" type="ecvConvocType" minOccurs="1" maxOccurs="unbounded">
					<xsd:key name="cvEntryKey">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								The entry id should be unique within the  
								collection of entry elements
							</xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="CV_ENTRY"/>
						<xsd:field xpath="@CVE_ID"/>
					</xsd:key>
				</xsd:element>
				<xsd:element name="EXTERNAL_REF" type="extRefType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="DATE" type="xsd:dateTime" use="optional"/>
			<xsd:attribute name="AUTHOR" type="xsd:string" use="optional"/>
			<xsd:attribute name="VERSION" type="xsd:string" use="optional"/>
		</xsd:complexType>
		<!-- define key - keyref pairs -->
				<!-- If not commented this is considered a double global definition of cvNameKey -->
<!--			<xsd:key name="cvNameKey">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						The Controlled Vocabulary name/id should be unique within the  
						collection of Controlled Vocabulary elements
					</xsd:documentation>
				</xsd:annotation>
				<xsd:selector xpath="CONTROLLED_VOCABULARY"/>
				<xsd:field xpath="@CV_ID"/>
			</xsd:key>-->
	</xsd:element>
	<!-- Did not use extension here because it contains an other type of CVEntry elements -->
	<xsd:complexType name="ecvConvocType">
		<xsd:sequence>
			<xsd:element name="CV_ENTRY" type="ecvEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="CV_ID" type="xsd:string" use="required"/>
		<xsd:attribute name="DESCRIPTION" type="xsd:string" use="optional"/>
		<xsd:attribute name="EXT_REF" type="xsd:IDREF" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					A reference to an url of an external Controlled Vocabulary.
					Is intended to be mutually exclusive with a sequence of CV_ENTRY elements. 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="ecvEntryType">
		<xsd:complexContent>
			<xsd:extension base="cventryType">
				<xsd:attribute name="CVE_ID" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>
							The id of the entry (intended for externally defined entries).
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>